﻿
@{
    ViewBag.Title = "_AdmiMaster";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Administrador</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-2 blog-sidebar">
                <h4>Menus</h4>
                <ul class="blog-categories">
                    <li>
                        @Html.ActionLink("Productos", "Index", "Producto")
                    </li>
                    <li>
                        @Html.ActionLink("Categorias", "Index", "Categoria")
                    </li>
                    <li>
                        @Html.ActionLink("Paginas", "Index", "Pagina")
                    </li>
                </ul>
            </div>
            <!-- End Sidebar -->
            <div class="col-sm-10">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

