﻿@model PagedList.PagedList<Proyecto_CoffeeRun.Models.categoria>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Administrador/_AdmiMaster.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- Action Buttons -->
        <div class="pull-left">
            <h3>Categorias</h3>
        </div>
        <div class="pull-right">
            @Html.ActionLink("Crear", "Crear", null, htmlAttributes: new { @class = "btn btn-grey" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Shopping Cart Items -->
        <table class="shopping-cart">
            <!-- Shopping Cart Item -->
            @foreach (var item in Model)
            {
                <tr>
                    <!-- Shopping Cart Item Description & Features -->
                    <td>
                        <div class="cart-item-title">@Html.DisplayFor(modelItem => item.nombre)</div>
                       
                    </td>
                    <td class="actions">
                        @Html.ActionLink(" ", "Editar", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" })
                        @Html.ActionLink(" ", "Eliminar", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-trash", onclick = "return confirm('¿Está seguro de eliminar la categoria?');" })
                    </td>
                </tr>
            }

        </table>
        <!-- End Shopping Cart Items -->
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize, ViewBag.categoria }), new PagedListRenderOptions { ContainerDivClasses = new[] { "pagination-wrapper" }, UlElementClasses = new[] { "pagination pagination-lg" } })
    </div>
</div>


