﻿@model Proyecto_CoffeeRun.Usuario

@{
    ViewBag.Title = "Login";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Login</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                @using (Html.BeginForm("Iniciar", "Login", null,FormMethod.Post, new { id = "login", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="basic-login">
                        <div class="form-group">
                            <label for="login-username"><i class="icon-user"></i><b>Username</b></label>
                            @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            <label for="login-password"><i class="icon-lock"></i><b>Password</b></label>
                            @Html.PasswordFor(model => model.ContraseñaUsuario, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            <label class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label>
                            @*<%--<a href="page-password-reset.html" class="forgot-password">Forgot password?</a>--%>*@
                            <input type="submit" value="Iniciar" />
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>