﻿<li class="active">
    @Html.ActionLink("Inicio", "Index", "Home")
</li>
<li class="active">
    @Html.ActionLink("Variedades de Cafe", "Coffee", "Home")
</li>
<li class="active">
    @Html.ActionLink("Arte de Cafe", "Arte", "Home")
</li>
<li class="active">
    @Html.ActionLink("Bocado", "Bocado", "Home")
</li>