﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta charset="utf-8" />
    <title>Coffee Run</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css' />

    @Styles.Render("~/css")
</head>
<body>
    <form runat="server">
        <div class="menuextras">
            <div class="extras">
                <ul>
                    <li>
                        @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-sm" })
                    </li>
                </ul>
            </div>
        </div>
        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
            <div class="container">

                <nav id="mainmenu" class="mainmenu">
                    <ul>
                        <li class="logo-wrapper">
                            <a href="index.aspx">
                                <img src="~/Content/img/logo-coffeeRun.png" alt="Multipurpose Twitter Bootstrap Template" style="height: 40px;">
                            </a>
                        </li>
                       
                        <li class="active">
                            @Html.ActionLink("Inicio", "Index", "Home")
                        </li>
                        <li class="active">
                            @Html.ActionLink("Variedades de Cafe", "Coffee", "Home")
                        </li>
                        <li class="active">
                            @Html.ActionLink("Arte de Cafe", "Arte", "Home")
                        </li>
                        <li class="active">
                            @Html.ActionLink("Bocado", "Bocado", "Home")
                        </li>
                        <li runat="server" id="menuAdmin" class="hidden">
                            <a href="admin.aspx">Administrador</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        @RenderBody()

        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-footer col-md-4 col-xs-6">
                        <h3>Contactenos</h3>
                        <p class="contact-us-details">
                            <b>Dirección:</b> 123 Fake Street, Florencia-Caquetá<br />
                            <b>Telefono:</b> 3182176815<br />
                            <b>Fax:</b> 38 4346929<br />
                            <b>Correo:</b> <a href="may:mayra@ymaya3095.com">mayralejandra3095@outlook.com</a>
                        </p>
                    </div>
                    <div class="col-footer col-md-4 col-xs-6">
                        <h3>Horarios</h3>
                        <p class="contact-us-details">
                            <b>Lunes a Viernes:</b> 8:00 am hasta 9:00 pm<br />
                            <b>Sabados</b> 8:00 am hasta 10:00 pm<br />
                            <b>Domingos y Festivos</b> 9:00 am hasta 5:00 pm<br />
                        </p>
                    </div>
                    <div class="col-footer col-md-4 col-xs-6">
                        <h3>Permanecer en Conexión</h3>
                        <ul class="footer-stay-connected no-list-style">
                            <li><a href="https://es-la.facebook.com/" class="facebook"></a></li>
                            <li><a href="#" class="twitter"></a></li>
                            <li><a href="#" class="googleplus"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-copyright">&copy; 2015 CoffeRun. Desarrolladores : Mayra Bustos, Magally Malpik.</div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <!-- Javascripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>

    @Scripts.Render("~/scripts")

</body>
</html>
