﻿@model IEnumerable<Proyecto_CoffeeRun.Models.producto>

@{
    ViewBag.Title = "Bocado";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>¡Una combinación perfecta!</h1>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="products-slider">
                    <!-- Products Slider Item -->
                    @foreach(var item in Model){

                        <div class="shop-item">
                            <!-- Product Image -->
                            <div class="image">
                                <a href="page-product-details.html"><img src="~/Content/img/bocado/@item.imagen" alt="Item Name" /></a>
                            </div>
                            <!-- Product Title -->
                            <div class="title">
                                <h3><a href="page-product-details.html"> @item.nombre </a></h3>
                            </div>
                            <!-- Product Price -->
                            <div class="price">
                                $ @Html.DisplayFor(modelItem => item.precio)
                            </div>
                        </div>
                        }
                </div>
            </div>
        </div>
    </div>
</div>
