﻿@model PagedList.PagedList<Proyecto_CoffeeRun.Models.producto>
@using PagedList.Mvc;
@using Proyecto_CoffeeRun.Models;

@{
    ViewBag.Title = "Coffee";
    ModelCoffeeRunContainer db = new ModelCoffeeRunContainer();
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>!Seleccione tú café¡</h1>
            </div>
        </div>
    </div>
</div>

<div class="eshop-section section">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-4 blog-sidebar">
               
                <h4>Categorias</h4>
                <ul class="blog-categories">
                    <li>@Html.ActionLink("Todos", "Coffee")</li>
                    <li>@Html.ActionLink("Ninguna", "Coffee", new { categoria = 0 })</li>

                    @foreach (categoria item in ViewBag.categorias)
                    {
                        <li>@Html.ActionLink(item.nombre, "Coffee", new { categoria = item.Id })</li>
                    }
                </ul>
            </div>
            <!-- End Sidebar -->
            <div class="col-sm-8">
                <h2>Todos</h2>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 col-sm-6">
                            <div class="shop-item">
                                <div class="shop-item-image">
                                    <a href="#">
                                        <img src=" ~/Content/img/variedades-cafe/@item.imagen" alt="Cafe" />
                                    </a>
                                </div>
                                <div class="title">
                                    <h3>@item.nombre</h3>
                                </div>
                                <div class="price">
                                    $ @item.precio
                                </div>
                                <div class="actions">
                                    @Html.ActionLink("Descripcion", "DescripcionProducto", "Home", new { id = item.id }, htmlAttributes: new { @class = "btn btn-small" })
                                    
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.PagedListPager(Model, page => Url.Action("Coffee", new { page, pageSize = Model.PageSize, ViewBag.categoria }), new PagedListRenderOptions { ContainerDivClasses = new[] { "pagination-wrapper" }, UlElementClasses = new[] { "pagination pagination-lg" } })
            </div>
            <!-- End Blog Post -->
        </div>
    </div>
</div>

