﻿@model Proyecto_CoffeeRun.Models.producto

@{
    ViewBag.Title = "DescripcionProducto";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> Descripción </h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Image Column -->
                <div class="col-sm-6">
                    <div class="portfolio-item">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/Content/img/variedades-cafe/@Model.imagen" alt="Project Name">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="portfolio-item-description col-sm-6">
                    <h3>@Model.nombre</h3>
                    <p>
                        @Model.descripcion
                    </p>

                    <div class="price">
                        $ @Model.precio
                </div>
                   
            </div>
        </div>
        @Html.ActionLink("Atras", "coffee", null, new { @class = "btn btn-small" })
    </div>
</div>