﻿@model PagedList.PagedList<Proyecto_CoffeeRun.Models.producto>
@using PagedList.Mvc;
@using Proyecto_CoffeeRun.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Administrador/_AdmiMaster.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- Action Buttons -->
        <div class="pull-left">
            <h3>Productos</h3>
        </div>
        <div class="pull-right">
            @Html.ActionLink("Crear", "Crear", null, htmlAttributes: new { @class = "btn btn-grey" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Shopping Cart Items -->
        <table class="shopping-cart">
            <!-- Shopping Cart Item -->
            @foreach (var item in Model)
            {
                <tr>
                    <td class="image">
                        @if (item.tipo.Equals("cafe"))
                        {
                            <img src="~/Content/img/variedades-cafe/@Html.DisplayFor(model => item.imagen)" alt="Sin imagen">
                        }
                        else if (item.tipo.Equals("arte"))
                        {
                            <img src="~/Content/img/arte-cafe/@Html.DisplayFor(model => item.imagen)" alt="Sin imagen">
                        }
                        else
                        {
                            <img src="~/Content/img/bocado/@Html.DisplayFor(model => item.imagen)" alt="Sin imagen">
                        }
                    </td>
                    <!-- Shopping Cart Item Description & Features -->
                    <td>
                        <div class="cart-item-title">@Html.DisplayFor(modelItem => item.nombre)</div>
                        <div class="feature"><b>Descripción: </b>@Html.DisplayFor(modelItem => item.descripcion)</div>
                    </td>
                    <!-- Shopping Cart Item type -->
                    <td class="bg-primary type">
                        @Html.DisplayFor(modelItem => item.tipo)
                        <hr/>
                        @foreach (categoria i in @item.categoria)
                        {
                            @i.nombre<br/>
                        }
                    </td>
                    <!-- Shopping Cart Item Price -->
                    <td class="price">$ @Html.DisplayFor(modelItem => item.precio)</td>
                    <!-- Shopping Cart Item Actions -->

                    <td class="actions">
                        @Html.ActionLink(" ", "Editar", new { id = item.id }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" })
                        @Html.ActionLink(" ", "Eliminar", new { id = item.id }, htmlAttributes: new { @class = "glyphicon glyphicon-trash", onclick = "return confirm('¿Está seguro de eliminar la producto?');" })
                    </td>
                </tr>
            }

        </table>
        <!-- End Shopping Cart Items -->
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize, ViewBag.categoria }), new PagedListRenderOptions { ContainerDivClasses = new[] { "pagination-wrapper" }, UlElementClasses = new[] { "pagination pagination-lg" } })
    </div>
</div>

<div class="modal fade" id="modelEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalEliminarlLabel">Eliminar producto</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar el producto seleccionado?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary">Si</button>
            </div>
        </div>
    </div>
</div>